In [1]:
import pandas as pd
import numpy as np

### Series

In [2]:
s = pd.Series(10, index=['a', 'b', 'c'])
s
s.index

Index(['a', 'b', 'c'], dtype='object')

#### Creating Series from numpy ndarray

In [3]:
s = pd.Series(np.random.rand(4)) # Pandas will add the index automatically if it isn't specified
s

0    0.322125
1    0.414492
2    0.773671
3    0.699104
dtype: float64

In [4]:
s = pd.Series(np.random.randn(5), index=['a', 'x', 'b', 'y', 'z'])
s

a    1.032552
x   -0.232155
b   -0.509035
y    0.227606
z    0.082195
dtype: float64

#### Creating Series from python dict

In [5]:
d = dict(a=1, d=3, c=100)
s = pd.Series(d)
s

a      1
d      3
c    100
dtype: int64

In [6]:
d = dict(a=1, b=3, c=100)
s = pd.Series(d, index=['b', 'x', 'y', 'c', 'z', 'a', 'c'])
s

b      3.0
x      NaN
y      NaN
c    100.0
z      NaN
a      1.0
c    100.0
dtype: float64

In [7]:
s = pd.Series(np.random.rand(4)).array
s

<PandasArray>
[0.9565706526476012, 0.1874022154960694, 0.6676166504586557,
 0.2817917623849444]
Length: 4, dtype: float64

In [8]:
s.to_numpy()

array([0.95657065, 0.18740222, 0.66761665, 0.28179176])

In [10]:
s = pd.Series(np.random.randint(5,30,(5,)))
s

0    22
1    28
2    10
3    29
4    28
dtype: int64

In [12]:
s * 4 # Pandas support vesctorized operations
s + 10

0    32
1    38
2    20
3    39
4    38
dtype: int64

In [15]:
s [1:] + s[:-1] # Pandas will take union of indexes for unaligned series

0     NaN
1    56.0
2    20.0
3    58.0
4     NaN
dtype: float64

### DataFrames

#### From dict of series

In [34]:
d = {'col1': pd.Series([1,2,3,4]), 'col2': pd.Series([3,4,5])}
pd.DataFrame(d)
# pd.DataFrame(d, index=['a', 'b', 'c'])

   col1  col2
0     1   3.0
1     2   4.0
2     3   5.0
3     4   NaN

In [18]:
d = {'col1': pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd']), 'col2': pd.Series([3,4,5], index=['c', 'b', 'x'])}
pd.DataFrame(d)

   col1  col2
a   1.0   NaN
b   2.0   4.0
c   3.0   3.0
d   4.0   NaN
x   NaN   5.0

In [20]:
pd.DataFrame(d, index=['a', 'q', 'c', 'b'])

   col1  col2
a   1.0   NaN
p   NaN   NaN
q   NaN   NaN
c   3.0   3.0
b   2.0   4.0

In [21]:
pd.DataFrame(d, index=[ 'c', 'a', 'b'], columns=['col1', 'col3', 'col2'])

   col1 col3  col2
c     3  NaN   3.0
a     1  NaN   NaN
b     2  NaN   4.0

#### From dict of ndarrays

In [27]:
d = {'col1': np.array([1,2,3]), 'col2': np.array([2,3,4])}

In [28]:
pd.DataFrame(d)

   col1  col2
0     1     2
1     2     3
2     3     4

In [29]:
pd.DataFrame(d, index=['a', 'b', 'c'])

   col1  col2
a     1     2
b     2     3
c     3     4

#### From Structured arrays

In [36]:
data = np.zeros((2, ), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
data[:] = [(1, 2., 'Hello'), (2, 3., "World")]
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'