### Structured Arrays

In [1]:
import numpy as np

In [2]:
a = np.ones(4, dtype='int32, float, U4')
a

array([(1, 1., '1'), (1, 1., '1'), (1, 1., '1'), (1, 1., '1')],
      dtype=[('f0', '<i4'), ('f1', '<f8'), ('f2', '<U4')])

In [3]:
a = np.ones(4, dtype='3int32, float, (2,2)U4')
a

array([([1, 1, 1], 1., [['1', '1'], ['1', '1']]),
       ([1, 1, 1], 1., [['1', '1'], ['1', '1']]),
       ([1, 1, 1], 1., [['1', '1'], ['1', '1']]),
       ([1, 1, 1], 1., [['1', '1'], ['1', '1']])],
      dtype=[('f0', '<i4', (3,)), ('f1', '<f8'), ('f2', '<U4', (2, 2))])

In [4]:
dt = np.dtype([('State', 'U10'), ('city', 'U10'), ('Population', 'i8')])
a = np.array([('UP', 'Noida', 800000), ('Punjab', 'Mohali', 700000)], dtype=dt)
a

array([('UP', 'Noida', 800000), ('Punjab', 'Mohali', 700000)],
      dtype=[('State', '<U10'), ('city', '<U10'), ('Population', '<i8')])

In [5]:
a['Population']

array([800000, 700000])

In [6]:
a = np.ones(4, dtype=[('x', 'i4'),('y', 'f4', (3,2))])
a

array([(1, [[1., 1.], [1., 1.], [1., 1.]]),
       (1, [[1., 1.], [1., 1.], [1., 1.]]),
       (1, [[1., 1.], [1., 1.], [1., 1.]]),
       (1, [[1., 1.], [1., 1.], [1., 1.]])],
      dtype=[('x', '<i4'), ('y', '<f4', (3, 2))])

In [7]:
data = [('Amsterdam', 'Sun', (8, 52)), ('Anchorage', 'Sat', (23, 52)), ('Ankara', 'Sun', (10, 52)), ('Athens', 'Sun', (9, 52)), ('Atlanta', 'Sun', (2, 52)), ('Auckland', 'Sun', (20, 52)), ('Barcelona', 'Sun', (8, 52)), ('Beirut', 'Sun', (9, 52)), ('Berlin', 'Sun', (8, 52)), ('Boston', 'Sun', (2, 52)), ('Brasilia', 'Sun', (5, 52)), ('Brussels', 'Sun', (8, 52)), ('Bucharest', 'Sun', (9, 52)), ('Budapest', 'Sun', (8, 52)), ('Cairo', 'Sun', (9, 52)), ('Calgary', 'Sun', (1, 52)), ('Cape Town', 'Sun', (9, 52)), ('Casablanca', 'Sun', (7, 52)), ('Chicago', 'Sun', (1, 52)), ('Columbus', 'Sun', (2, 52)), ('Copenhagen', 'Sun', (8, 52)), ('Dallas', 'Sun', (1, 52)), ('Denver', 'Sun', (1, 52)), ('Detroit', 'Sun', (2, 52)), ('Dubai', 'Sun', (11, 52)), ('Dublin', 'Sun', (7, 52)), ('Edmonton', 'Sun', (1, 52)), ('Frankfurt', 'Sun', (8, 52)), ('Halifax', 'Sun', (3, 52)), ('Helsinki', 'Sun', (9, 52))]

In [8]:
data

[('Amsterdam', 'Sun', (8, 52)),
 ('Anchorage', 'Sat', (23, 52)),
 ('Ankara', 'Sun', (10, 52)),
 ('Athens', 'Sun', (9, 52)),
 ('Atlanta', 'Sun', (2, 52)),
 ('Auckland', 'Sun', (20, 52)),
 ('Barcelona', 'Sun', (8, 52)),
 ('Beirut', 'Sun', (9, 52)),
 ('Berlin', 'Sun', (8, 52)),
 ('Boston', 'Sun', (2, 52)),
 ('Brasilia', 'Sun', (5, 52)),
 ('Brussels', 'Sun', (8, 52)),
 ('Bucharest', 'Sun', (9, 52)),
 ('Budapest', 'Sun', (8, 52)),
 ('Cairo', 'Sun', (9, 52)),
 ('Calgary', 'Sun', (1, 52)),
 ('Cape Town', 'Sun', (9, 52)),
 ('Casablanca', 'Sun', (7, 52)),
 ('Chicago', 'Sun', (1, 52)),
 ('Columbus', 'Sun', (2, 52)),
 ('Copenhagen', 'Sun', (8, 52)),
 ('Dallas', 'Sun', (1, 52)),
 ('Denver', 'Sun', (1, 52)),
 ('Detroit', 'Sun', (2, 52)),
 ('Dubai', 'Sun', (11, 52)),
 ('Dublin', 'Sun', (7, 52)),
 ('Edmonton', 'Sun', (1, 52)),
 ('Frankfurt', 'Sun', (8, 52)),
 ('Halifax', 'Sun', (3, 52)),
 ('Helsinki', 'Sun', (9, 52))]

In [18]:
struct_type = np.dtype([('city', 'U20'),('day', 'U3'),('time',[('hour', int),('minute', int)])])

In [19]:
city_arr = np.array(data, dtype=struct_type)
city_arr

array([('Amsterdam', 'Sun', ( 8, 52)), ('Anchorage', 'Sat', (23, 52)),
       ('Ankara', 'Sun', (10, 52)), ('Athens', 'Sun', ( 9, 52)),
       ('Atlanta', 'Sun', ( 2, 52)), ('Auckland', 'Sun', (20, 52)),
       ('Barcelona', 'Sun', ( 8, 52)), ('Beirut', 'Sun', ( 9, 52)),
       ('Berlin', 'Sun', ( 8, 52)), ('Boston', 'Sun', ( 2, 52)),
       ('Brasilia', 'Sun', ( 5, 52)), ('Brussels', 'Sun', ( 8, 52)),
       ('Bucharest', 'Sun', ( 9, 52)), ('Budapest', 'Sun', ( 8, 52)),
       ('Cairo', 'Sun', ( 9, 52)), ('Calgary', 'Sun', ( 1, 52)),
       ('Cape Town', 'Sun', ( 9, 52)), ('Casablanca', 'Sun', ( 7, 52)),
       ('Chicago', 'Sun', ( 1, 52)), ('Columbus', 'Sun', ( 2, 52)),
       ('Copenhagen', 'Sun', ( 8, 52)), ('Dallas', 'Sun', ( 1, 52)),
       ('Denver', 'Sun', ( 1, 52)), ('Detroit', 'Sun', ( 2, 52)),
       ('Dubai', 'Sun', (11, 52)), ('Dublin', 'Sun', ( 7, 52)),
       ('Edmonton', 'Sun', ( 1, 52)), ('Frankfurt', 'Sun', ( 8, 52)),
       ('Halifax', 'Sun', ( 3, 52)), ('Helsinki', 'Sun', ( 9, 52))],
      dtype=[('city', '<U20'), ('day', '<U3'), ('time', [('hour', '<i8'), ('minute', '<i8')])])

In [11]:
city_arr['city']

array(['Amsterdam', 'Anchorage', 'Ankara', 'Athens', 'Atlanta',
       'Auckland', 'Barcelona', 'Beirut', 'Berlin', 'Boston', 'Brasilia',
       'Brussels', 'Bucharest', 'Budapest', 'Cairo', 'Calgary',
       'Cape Town', 'Casablanca', 'Chicago', 'Columbus', 'Copenhagen',
       'Dallas', 'Denver', 'Detroit', 'Dubai', 'Dublin', 'Edmonton',
       'Frankfurt', 'Halifax', 'Helsinki'], dtype='<U20')

In [21]:
city_arr[city_arr['city'] == 'Athens']['day']

array(['Sun'], dtype='<U3')